.global-container{
    display: flex;
}
.container1{
    width: 70vw;
    justify-content: left;
}
.card {
    width: 200px;
    margin-top: 25px;

}

.btn {
    text-align: center;
}

#result-card{
    border: 5px;
    border-style: dashed;
    border-color: palevioletred;
    position: fixed;
    right: 0;
    height: 50vh;
    width: 30vw;
   
    text-align: center;

}