
*
{
  margin:0;
  padding:0;
}

body{
  background: #FFC3A1;
}

.navbar
{
background-color: #A75D5D;
 height: 10vh;
 text-align: center;
 padding-left: 60vh;
}

ul
{
  display:flex;
}

ul li
{
  list-style:none;
  color:#F0997D;
  letter-spacing:10px;
  font-size:3em;
  font-weight:bold;
}


ul:hover li
{
  animation: humo 2s linear forwards;
}

@keyframes humo
{
  0%
  {
    transform:rotate(0deg) translateY(0);
    opacity:1;
    filter:blur(1px);
  }
  
  100%
  {
    transform:rotate(45deg) translateY(-200px);
    opacity:0;
    filter:blur(20px);
  }
}

ul li:nth-child(1)
{
  animation-delay: 0s;
}

ul li:nth-child(2)
{
  animation-delay: .4s;
}

ul li:nth-child(3)
{
  animation-delay: .8s;
}

ul li:nth-child(4)
{
  animation-delay: 1.2s;
}

ul li:nth-child(5)
{
  animation-delay: 1.6s;
}

ul li:nth-child(6)
{
  animation-delay: 2s;
}

ul li:nth-child(7)
{
  animation-delay: 2.4s;
}

ul li:nth-child(8)
{
  animation-delay: 2.8s;
}

.global-container{
    display: flex;
}
.container1{
    /* width: 70vw;
    justify-content: left; */
    display: flex;
    width: 800px;
    height: 430px;
    margin-left: 20vh;
    margin-top: 5vh;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;    
    overflow: hidden;
    height: 250vh;
    width: 250vh;
   
}
.cards {
    width: 60px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;

}

.cards img{
    height: 250px;
}



.cards:hover{
    cursor: crosshair;
    width: 60px;
    opacity: 1;
    filter: contrast(120%);
    z-index: 1;

}




#result-card{
    background-color: #F0997D;
    right: 0;
    height: 50vh;
    width: 30vw;
    text-align: center;
    margin-top: 10vh;
    margin-left: 15vh;
    border-style: inset;
    
}

#title-result{
    letter-spacing: 0.5vh;
    color: #A75D5D;
    font-weight: bold;

}
